@import "tailwindcss";

.swiper-button-prev,
.swiper-button-next {
  width: 0px !important;
  height: 40px !important;
  border-radius: 50%;
  
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  margin: 0 5px !important;
}
